.container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at top, #034412, #000000);
  overflow: hidden;
  color: rgb(0, 37, 46);
  z-index: 0;
}
.app {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
}

.stats {
  top: unset !important;
  left: unset !important;
  right: 0 !important;
  bottom: 0 !important;
}
